.item h3 {
  margin: 0.5rem 0;
  font-size: 1.3rem;
}

.item header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price {
  border-radius: 15px;
  padding: 0.2rem 1.3rem 0.3rem 1.3rem;
  background-color: #1c628d;
  color: white;
  font-size: 1.4rem;
}

.item p {
  color: #3a3a3a;
}

.actions {
  display: flex;
  justify-content: flex-end;
}